/* Глобальные стили */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #333;
  background-color: #f5f5f5;
  line-height: 1.5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Хелперы */
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.text-center {
  text-align: center;
}

/* Стили для изображений */
img {
  max-width: 100%;
  height: auto;
}

/* Скрытие скролл-бара с сохранением функциональности */
.hide-scrollbar {
  -ms-overflow-style: none; /* для IE и Edge */
  scrollbar-width: none; /* для Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* для Chrome, Safari и Opera */
}
